@font-face {
  font-family: Rubik;
  src: url(../fonts/Rubik/RubikRegular.woff2),
       url(../fonts/Rubik/RubikRegular.woff);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: Rubik;
  src: url(../fonts/Rubik/RubikMedium.woff2),
       url(../fonts/Rubik/RubikMedium.woff);
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}


@font-face {
  font-family: Rockwell;
  src: url(../fonts/Rockwell/RockwellRegular.woff2),
       url(../fonts/Rockwell/RockwellRegular.woff);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}